{{#partial "contenido"}}
	<form class="profile-form" action="/calendario" method="GET">
		<input name='dia' value='{{dia}}'/>
		<input name='mes' value='{{mes}}'/>
		<input name='anio' value='{{anio}}'/>
		<button type='submit'>Eventos!</button>
	</form>	
	{{#if hayFecha}}
		<h2>Eventos</h2>
		{{#if haySugerencias}}
			{{#each haySugerencias}}
    			<li>descripcion: {{this.evento.descripcion}}<li>
				<form class="profile-form" action="/calendario" method="POST">
	    			<button type='submit'>Ver sugerencias</button>
				</form>    				
    		{{/each}}
    	{{else}}
    		{{#if eventos}}
    			{{#each eventos}}
    				<li>descripcion: {{this.evento}}<li>
    			{{/each}}
    		{{else}}
    			<li>No se han encontrado eventos<li>
    		{{/if}}
    	{{/if}}
	{{/if}}

{{/partial}}
{{>layout.hbs}}