{{#partial "contenido"}}
	<form class="profile-form" action="/calendario" method="GET">
		<input name='dia' value='{{dia}}'/>
		<input name='mes' value='{{mes}}'/>
		<input name='anio' value='{{anio}}'/>
		<button type='submit'>Eventos!</button>
	</form>	
	{{#if hayFecha}}
		<h2>Eventos</h2>
		
		{{#if eventosPendientes}}
			{{#each eventosPendientes}}
				<li>descripcion: {{this.descripcion}}</li>
				<form method='post' action='/calendario'>
					<button type="submit" name='eventoNum' value='{{@index}}'>Confirmar</button>
				</form>
			{{/each}}
		{{/if}}
			{{#if eventosNoPendientes}}
    			{{#each eventosNoPendientes}}
    				<li>descripcion: {{this.descripcion}}</li>
    			{{/each}}
    		{{/if}}
    	{{#unless eventos}}
    		<li>No se han encontrado eventos</li>
    	{{/unless}}
	{{/if}}
	

{{/partial}}
{{>layout.hbs}}