<h3>Elegir horarios</h3>

{{#if esAnual}}
	<p>Ingrese mes</p>
	<input name='mes' value='{{mes}}'/>
	<p>Ingrese dia</p>
	<input name='dia' value='{{dia}}'/>
{{/if}}

{{#if esDiaria}}
	<p>Ingrese hora</p>
	<input name='hora' value='{{hora}}'/>
{{/if}}

{{#if esMensual}}
	<p>Ingrese dia</p>
	<input name='dia' value='{{dia}}'/>
{{/if}}

{{#if esSemanal}}
	<p>Ingrese dia</p>
	<input name='dia' value='{{dia}}'/>
{{/if}}

{{#if esUnicaVez}}
	<p>Ingrese anio</p>
	<input name='anio' value='{{anio}}'/>
	<p>Ingrese mes</p>
	<input name='mes' value='{{mes}}'/>
	<p>Ingrese dia</p>
	<input name='dia' value='{{dia}}'/>
{{/if}}

<button type='submit' name='end' value='action'}>Finalizar</button>

{{! Agregar otro flag que informe si la carga se realizo correctamente}}