{{#partial "otherHead"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="colorlib.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/wizardPrenda/css/style.css">
{{/partial}}

{{#partial "contenido"}}

    <h2>Guardarropa Número 1</h2>
	  <div class="table-responsive">
  <table class="table">
    <thead>
    </thead>
    <tbody>
    {{#each listaSets}}
      <tr>
        <th scope="row"></th>
        {{#each this}}
        <td>
        	<div class="card" style="width: 18rem;">
			  <img src="/prenda.jpg" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">{{this.tipo}}</h5>
			    <p class="card-text">
			    	  <ul>
					    <li>Color primario: {{this.colorPrimario}}</li>
					    <li>Color secundario: {{this.colorSecundario}}</li>
					    <li>Tipo: {{this.tipo}}</li>
					    <li>Tela: {{this.tela}}</li>
					  </ul>
			    </p>
			  </div>
			</div>
		</td>
		{{/each}}
      </tr>
{{/each}}
    </tbody>
  </table>
</div>

{{/partial}}
{{>layout.hbs}}
