<html>
<head>
<link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" />
</head>
<body>

{{#partial "contenido"}}

<h1> Step 3 </h1>

<div class="story-page">
  <div>
   — Tipo: {{tipoPrenda}}
  </div>
  <div>
  — Color primario: {{colorPrimario}}
  </div>
  <div>
  — Color Secundario: {{colorSecundario}}
  </div>
  <div>
  — Material: {{tela}}
  </div>
  <div>
  — Nivel de frio: {{nivelAbrigo}}
  </div>

  <form class="profile-form" action="/prendas/step-3" method="POST">
      <button>Dar de alta prenda</button>
  </form>

</div>

{{/partial}}
{{>layout.hbs}}
</body>
</html>
