{{#partial "contenido"}}

	{{#if haySugerencias}}
		<form method='post' action='/sugerencias'>
		{{#each sugerencias}}
			<h2> Una sugerencia es</h2> 
			{{#each this.atuendo}}
				<h3>Prenda {{@index}}</h3>
				<li>Color primario: {{this.colorPrimario}}</li>
				<li>Tipo: {{this.tipo}}</li>
				<li>Tela: {{this.tela}}</li>
			{{/each}}
			<input type="radio" name='sugerencia' value='{{@index}}'>Aceptar<br>
			
		{{/each}}
		
		<button type="submit">Confirmar</button>
		</form>
	{{else}}
		No hay todavia una sugerencia para este evento
	{{/if}}

{{/partial}}
{{>layout.hbs}}