<html>
<head>
<title>Sugerencias</title>
</head>
<body>	
{{#partial "contenido"}}
	
	{{! Ahora lo modifico para que me me muestre la lista de sugerencias}}
	
	<h1>Sugerencias</h1>
	
	<h2> Atuendo </h2>
	
	<ul>
		<li>Color primario: {{colorPrimario}}</li>
		<li>Tipo: {{tipo}}</li>
		<li>Tela: {{tela}}</li>
		<li>Nivel Abrigo: {{nivelAbrigo}}</li> (Creo que esto no se tiene que mostrar pero por las dudas lo muestro)
		<li>EstaUsada: {{usada}}</li> Creo que esto no se tiene que mostrar pero por las dudas lo muestro)
	</ul>
	
	<p>Estado: {{estado}}</p>
	
	<h2>Evento</h2>
	
	<ul>
		<li>Descripcion: {{descripcion}}</li>
				
{{/partial}}

</body>
</html>