<html>
<head>
<!-- <link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" /> -->
</head>
<body>

<h1>Sugerencias</h1>

{{#each sugerencias}}

	Sugerencia N: {{@index}}

	{{#each this.atuendo}}
		
		<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Atuendo  {{@index}}</h5>
    <p class="card-text">Color primario: {{this.colorPrimario}}</p>
	<p class="card-text">Color secundario: {{this.colorSecundario}}</p>
	<p class="card-text">Tipo: {{this.tipo}}</p>
	<p class="card-text">Tela: {{this.tela}}</p>
	
	{{!No se por que no me muestra la descripcion del evento}}
		{{#each this.evento}}
			<p class="card-text">Evento</p>
			<h3>Evento</h3>
			<p class="card-text">Descripcion: {{this.evento.descripcion}}</p>
		{{/each}}
	
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
		
	
	
	{{/each}}
	<h3>Estado: </h3> {{this.estado}}
{{/each}}
</body>

</html>